<ul class="nav overflow-y-auto">
    <li class="md:hidden py-2 px-6">
        <span class="block uppercase tracking-wide text-gray-100 font-medium">Sortiment</span>
    </li>
            <li>
                    <a class="nav__toggle" href="/barzubehor.html">
                <span>Barzubehör</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                    <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                </svg>
            </a>
            <div class="nav__dropdown">
                <dl class="nav__sections">
                    <dt class="md:hidden">
                        <a class="nav__back" href="/barzubehor.html">
                            <span>Barzubehör</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </dt>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/barzubehor/arten.html">
                            <span>Arten</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/barzubehor/arten.html" class="nav__back">
                                    <span>Arten</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/barzubehor/arten/cocktail-bitters.html">Cocktail-Bitters</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/barutensilien.html">Barutensilien</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/shaker.html">Shaker</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/jigger-barmass.html">Jigger / Barmass</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/strainer-barsieb.html">Strainer / Barsieb</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/muddler-stossel.html">Muddler / Stössel</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/flaschenoffner.html">Flaschenöffner</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/barmatten-unterlagen.html">Barmatten / Unterlagen</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/pourer-ausgiesser.html">Pourer / Ausgiesser</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/arten/dash-bottles.html">Dash Bottles</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/barzubehor/marken.html">
                            <span>Marken</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/barzubehor/marken.html" class="nav__back">
                                    <span>Marken</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/barzubehor/marken/the-bitter-truth.html">The Bitter Truth</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/fee-brothers.html">Fee Brothers</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/dr-adam-elmegirab-s.html">Dr. Adam Elmegirab&#039;s</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/the-seventh-sense.html">The Seventh Sense</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/peychaud-s.html">Peychaud&#039;s</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/urban-bar.html">Urban Bar</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/perola.html">Perola</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/gary-regan.html">Gary Regan</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/calabrese.html">Calabrese</a>
                            </dd>
                                                        <dd>
                                <a href="/barzubehor/marken/yukiwa.html">Yukiwa</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                    </dl>
            </div>
                </li>
            <li>
                    <a class="nav__toggle" href="/alkoholfreies.html">
                <span>Alkoholfreies</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                    <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                </svg>
            </a>
            <div class="nav__dropdown">
                <dl class="nav__sections">
                    <dt class="md:hidden">
                        <a class="nav__back" href="/alkoholfreies.html">
                            <span>Alkoholfreies</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </dt>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/alkoholfreies/marken.html">
                            <span>Marken</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/alkoholfreies/marken.html" class="nav__back">
                                    <span>Marken</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/alkoholfreies/marken/1724.html">1724</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/gosling-s.html">Gosling&#039;s</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/fever-tree.html">Fever Tree</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/gents.html">Gents</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/cucumis.html">Cucumis</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/dr-polidoris.html">Dr. Polidoris</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/le-tribute.html">Le Tribute</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/aqua-monaco.html">Aqua Monaco</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/fentimans.html">Fentimans</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/marken/double-dutch.html">Double Dutch</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/alkoholfreies/arten.html">
                            <span>Arten</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/alkoholfreies/arten.html" class="nav__back">
                                    <span>Arten</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/alkoholfreies/arten/tonic.html">Tonic </a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/ginger-beer.html">Ginger Beer</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/ginger-ale.html">Ginger Ale</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/bitter-lemon.html">Bitter Lemon</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/limonade.html">Limonade</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/bar-sirup.html">Bar-Sirup</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/kaffee-sirup.html">Kaffee-Sirup </a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/tee-sirup.html">Tee-Sirup</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/zuckersirup.html">Zuckersirup</a>
                            </dd>
                                                        <dd>
                                <a href="/alkoholfreies/arten/mate.html">Mate</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                    </dl>
            </div>
                </li>
            <li>
                    <a class="nav__toggle" href="/vodka.html">
                <span>Vodka</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                    <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                </svg>
            </a>
            <div class="nav__dropdown">
                <dl class="nav__sections">
                    <dt class="md:hidden">
                        <a class="nav__back" href="/vodka.html">
                            <span>Vodka</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </dt>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/vodka/marken.html">
                            <span>Marken</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/vodka/marken.html" class="nav__back">
                                    <span>Marken</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/vodka/marken/green-mark.html">Green Mark</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/absolut.html">Absolut</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/ketel-one.html">Ketel One</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/beluga.html">Beluga</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/belvedere.html">Belvedere</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/crystal-head.html">Crystal Head</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/ciroc.html">Ciroc</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/grey-goose.html">Grey Goose</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/kalaschnikow-red-army.html">Kalaschnikow Red Army</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/marken/the-wild-alps.html">The Wild Alps</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/vodka/land.html">
                            <span>Land</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/vodka/land.html" class="nav__back">
                                    <span>Land</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/vodka/land/russland.html">Russland</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/polen.html">Polen</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/schweden.html">Schweden</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/frankreich.html">Frankreich</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/kanada.html">Kanada</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/schweiz.html">Schweiz</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/usa.html">USA</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/kasachstan.html">Kasachstan</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/deutschland.html">Deutschland</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/land/lettland.html">Lettland</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/vodka/arten.html">
                            <span>Arten</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/vodka/arten.html" class="nav__back">
                                    <span>Arten</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/vodka/arten/roggen-vodka.html">Roggen Vodka</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/arten/weizen-vodka.html">Weizen Vodka</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/arten/kartoffel-vodka.html">Kartoffel Vodka</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/arten/gersten-vodka.html">Gersten Vodka</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/arten/reis-vodka.html">Reis Vodka</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/arten/trauben-vodka.html">Trauben Vodka</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/arten/flavored-vodka.html">Flavored Vodka</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/arten/mais-vodka.html">Mais Vodka</a>
                            </dd>
                                                        <dd>
                                <a href="/vodka/arten/moscow-mule.html">Moscow Mule</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                    </dl>
            </div>
                </li>
            <li>
                    <a class="nav__toggle" href="/gin.html">
                <span>Gin</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                    <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                </svg>
            </a>
            <div class="nav__dropdown">
                <dl class="nav__sections">
                    <dt class="md:hidden">
                        <a class="nav__back" href="/gin.html">
                            <span>Gin</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </dt>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/gin/marken.html">
                            <span>Marken</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/gin/marken.html" class="nav__back">
                                    <span>Marken</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/gin/marken/gin-mare.html">Gin Mare</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/turicum.html">Turicum</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/monkey-47.html">Monkey 47</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/ferdinand-s.html">Ferdinand&#039;s</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/brockmans.html">Brockmans</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/hendrick-s.html">Hendrick&#039;s</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/nginious.html">nginious!</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/tschin.html">Tschin</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/nordes.html">Nordés</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/marken/elephant.html">Elephant</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/gin/land.html">
                            <span>Land</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/gin/land.html" class="nav__back">
                                    <span>Land</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/gin/land/schweiz.html">Schweiz</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/deutschland.html">Deutschland</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/grossbritannien.html">Grossbritannien</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/usa.html">USA</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/kanada.html">Kanada</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/spanien.html">Spanien</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/frankreich.html">Frankreich</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/schweden.html">Schweden</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/belgien.html">Belgien</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/land/irland.html">Irland</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/gin/arten.html">
                            <span>Arten</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/gin/arten.html" class="nav__back">
                                    <span>Arten</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/gin/arten/dry-gin.html">Dry Gin</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/arten/genever.html">Genever</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/arten/old-tom-gin.html">Old Tom Gin</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/arten/sloe-gin.html">Sloe Gin</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/arten/gin-tonic.html">Gin Tonic</a>
                            </dd>
                                                        <dd>
                                <a href="/gin/arten/botanicals.html">Botanicals</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                    </dl>
            </div>
                </li>
            <li>
                    <a class="nav__toggle" href="/rum.html">
                <span>Rum</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                    <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                </svg>
            </a>
            <div class="nav__dropdown">
                <dl class="nav__sections">
                    <dt class="md:hidden">
                        <a class="nav__back" href="/rum.html">
                            <span>Rum</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </dt>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/rum/marken.html">
                            <span>Marken</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/rum/marken.html" class="nav__back">
                                    <span>Marken</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/rum/marken/kraken.html">Kraken</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/gosling-s.html">Gosling&#039;s</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/diplomatico.html">Diplomatico</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/don-papa.html">Don Papa</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/plantation-rum.html">Plantation Rum</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/sailor-jerry.html">Sailor Jerry</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/kirk-sweeney.html">Kirk &amp; Sweeney</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/gold-of-mauritius.html">Gold of Mauritius</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/presidente-marti.html">Presidente Marti</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/marken/havana-club.html">Havana Club</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/rum/land.html">
                            <span>Land</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/rum/land.html" class="nav__back">
                                    <span>Land</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/rum/land/trinidad-tobago.html">Trinidad &amp; Tobago</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/bermuda.html">Bermuda</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/venezuela.html">Venezuela</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/philippinen.html">Philippinen</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/barbados.html">Barbados</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/amerikanische-jungferninseln.html">Amerikanische Jungferninseln</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/dominikanische-republik.html">Dominikanische Republik</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/mauritius.html">Mauritius</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/kuba.html">Kuba</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/land/anguilla.html">Anguilla</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/rum/arten.html">
                            <span>Arten</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/rum/arten.html" class="nav__back">
                                    <span>Arten</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/rum/arten/rum-agricole.html">Rum Agricole</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/arten/melasse-rum.html">Melasse Rum</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/arten/spiced-rum.html">Spiced Rum</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/arten/virgin-sugar-cane-honey-rum.html">Virgin Sugar Cane Honey Rum</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/arten/charanda.html">Charanda</a>
                            </dd>
                                                        <dd>
                                <a href="/rum/arten/dark-stormy.html">Dark &amp; Stormy</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                    </dl>
            </div>
                </li>
            <li>
                    <a class="nav__toggle" href="/whisky.html">
                <span>Whisky</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                    <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                </svg>
            </a>
            <div class="nav__dropdown">
                <dl class="nav__sections">
                    <dt class="md:hidden">
                        <a class="nav__back" href="/whisky.html">
                            <span>Whisky</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </dt>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/whisky/marken.html">
                            <span>Marken</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/whisky/marken.html" class="nav__back">
                                    <span>Marken</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/whisky/marken/glenlivet.html">Glenlivet</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/glenfiddich.html">Glenfiddich</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/oban.html">Oban</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/highland-park.html">Highland Park</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/balvenie.html">Balvenie</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/macallan.html">Macallan</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/lagavulin.html">Lagavulin</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/talisker.html">Talisker</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/aberlour.html">Aberlour</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/marken/octomore.html">Octomore</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/whisky/arten.html">
                            <span>Arten</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/whisky/arten.html" class="nav__back">
                                    <span>Arten</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/whisky/arten/blended-whisky.html">Blended Whisky</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/single-malt-whisky.html">Single Malt Whisky</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/bourbon.html">Bourbon</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/rye-whiskey.html">Rye Whiskey</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/irish-whiskey.html">Irish Whiskey</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/japanische-whisky.html">Japanische Whisky</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/canadian-whisky.html">Canadian Whisky</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/single-grain-whisky.html">Single Grain Whisky</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/pure-malt-whisky.html">Pure Malt Whisky</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/arten/moonshine.html">Moonshine</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/whisky/land.html">
                            <span>Land</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/whisky/land.html" class="nav__back">
                                    <span>Land</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/whisky/land/irland.html">Irland</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/kanada.html">Kanada</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/schweiz.html">Schweiz</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/indien.html">Indien</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/schottland.html">Schottland</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/japan.html">Japan</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/usa.html">USA</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/taiwan.html">Taiwan</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/polen.html">Polen</a>
                            </dd>
                                                        <dd>
                                <a href="/whisky/land/osterreich.html">Österreich</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                    </dl>
            </div>
                </li>
            <li>
                    <a class="nav__toggle" href="/likore.html">
                <span>Liköre</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                    <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                </svg>
            </a>
            <div class="nav__dropdown">
                <dl class="nav__sections">
                    <dt class="md:hidden">
                        <a class="nav__back" href="/likore.html">
                            <span>Liköre</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </dt>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/likore/marken.html">
                            <span>Marken</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/likore/marken.html" class="nav__back">
                                    <span>Marken</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/likore/marken/italicus.html">Italicus</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/unicorn-tears.html">Unicorn Tears</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/de-kuyper.html">De Kuyper</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/mari-mayans.html">Mari Mayans</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/aperol.html">Aperol</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/heuschnaps.html">Heuschnaps</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/lazzaroni.html">Lazzaroni</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/frangelico.html">Frangelico</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/giffard.html">Giffard</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/marken/skinos.html">Skinos</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/likore/land.html">
                            <span>Land</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/likore/land.html" class="nav__back">
                                    <span>Land</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/likore/land/italien.html">Italien</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/frankreich.html">Frankreich</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/spanien.html">Spanien</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/holland.html">Holland</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/deutschland.html">Deutschland</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/griechenland.html">Griechenland</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/grossbritannien.html">Grossbritannien</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/finnland.html">Finnland</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/schweiz.html">Schweiz</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/land/lettland.html">Lettland</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                        <dd class="nav__section lg:flex-auto lg:col-2">
                        <a class="nav__heading nav__toggle" href="/likore/arten.html">
                            <span>Arten</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                        <dl class="nav__columns">
                            <dt class="md:hidden">
                                <a href="/likore/arten.html" class="nav__back">
                                    <span>Arten</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-auto md:hidden" viewBox="0 0 5 9">
                                        <path stroke="currentColor" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </dt>
                                                        <dd>
                                <a href="/likore/arten/fruchtlikor.html">Fruchtlikör</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/krauterlikor.html">Kräuterlikör</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/halbbitter.html">Halbbitter</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/magenbitter.html">Magenbitter</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/gewurzlikor.html">Gewürzlikör</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/creme.html">Creme</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/orangenlikor.html">Orangenlikör</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/pfefferminzlikor.html">Pfefferminzlikör</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/kaffeelikor.html">Kaffeelikör</a>
                            </dd>
                                                        <dd>
                                <a href="/likore/arten/kirschlikor.html">Kirschlikör</a>
                            </dd>
                                                        <dd>
                                <a href="https://www.drink.ch/de/whisky-whiskey/marken.html">
                                    <strong class="font-medium">Alle ansehen</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20">
                                        <polyline fill="none" stroke="currentColor" points="10 5 15 9.5 10 14"></polyline>
                                        <line fill="none" stroke="currentColor" x1="4" y1="9.5" x2="15" y2="9.5"></line>
                                    </svg>
                                </a>
                            </dd>
                        </dl>
                    </dd>
                                    </dl>
            </div>
                </li>
    
</ul>